.bottom_right {
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
color: #A0AEC0;
}

.bottom_left {
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;

color: #A0AEC0;
}