.sidebar__layout {
  background: #f8f9fa !important;
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
  padding: 10px 0px 70px 0px;
}

.sidebar__layout .vanLogo {
  width: 200px;
  padding-left: 25px;
}

.sidebar__layout-box {
  background-image: url("../../assets/img/bgImg.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
}

.sidebar__layout-box .need_help {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 140%;
color: #FFFFFF;
margin-top: 20px;
margin-bottom: -2px;
}

.sidebar__layout-box .document {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
color: #FFFFFF;
}

.sidebar__layout-menu {
  background: #f8f9fa;
  margin-top: 20px;
}

.sidebar__layout-menu .ant-menu-item {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #a0aec0;
}

.sidebar__layout-menu .ant-menu-item:hover {
  color: #2D3748 !important;
}

.sidebar__layout-menu .ant-menu-item svg {
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 12px;
  padding: 10px;
}

.sidebar__layout-menu
  .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
  background-color: transparent;
  background: #ffffff;
  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
  border-radius: 15px;
  width: 219px;
  margin-left: 10px;
}

.sidebar__layout-menu .ant-menu-item-selected {
  color: #a0aec0;
}

.sidebar__layout-menu .ant-menu-item-selected svg {
  filter: invert(69%) sepia(34%) saturate(552%) hue-rotate(345deg)
    brightness(99%) contrast(88%);
}

.sidebar__layout-menu .ant-menu-item:hover svg {
  filter: invert(73%) sepia(47%) saturate(488%) hue-rotate(123deg) brightness(92%) contrast(87%);
  border-radius: 5px;
}

.sidebar__layout-menu .ant-menu-item:hover {
  background: #FFFFFF;
box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
border-radius: 15px;
width: 219px;
margin-left: 10px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}

.ant-menu-inline .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: none;
  transform: scaleY(.0001);
  opacity: 0;
  /* transition: transform .15s cubic-bezier(.215,.61,.355,1),opacity .15s cubic-bezier(.215,.61,.355,1); */
  border-radius: 15px;
width: 219px;
margin-left: 10px;
}

.sidebar__layout-menu .ant-menu-inline .ant-menu-item:after {
  display: none;
}

#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #f8f9fa;
}
.ant-layout-content {
  flex: auto;
  min-height: 0;
  background: #F8F9FA;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: none;
}